/* FULL PAGE */
.login-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

/* BLURRED BACKGROUND */
.bg-blur {
  position: absolute;
  inset: 0;
  background-image: url("/assets/apartment.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  transform: scale(1.1); /* blur edges hide */
  z-index: 1;
}

/* LOGIN CARD */
.login-card {
  position: relative;
  z-index: 2;
  width: 400px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITLE */
.title {
  margin-bottom: 20px;
  color: #1e293b;
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #c7c7ff;
  font-size: 15px;
  outline: none;
}

/* BUTTON */
.login-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #4f46e5, #6366f1);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

/* ERROR */
.error {
  color: red;
  margin-bottom: 10px;
}

/* COPYRIGHT */
.copyright {
  margin-top: 25px;
  font-size: 13px;
  color: #334155;
}

/* MOBILE */
@media (max-width: 500px) {
  .login-card {
    width: 90%;
  }
}
