.dashboard-container {
  height: 100vh;
}

.dashboard-body {
  padding-bottom: 60px; /* space for bottom nav */
  overflow-y: auto;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #5e17eb;
}

.bottom-nav button {
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom-nav button:hover {
  opacity: 0.8;
}
